{% extends "::base.html.twig" %}

{% block title %}Ddx SmartRobot{% endblock %}

{% block javascripts %}
    {{ parent(javascripts) }}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {#{{ chart(chart) }}#}

        $(document).ready(function() {

            $('#trades').DataTable({
                "paging": true,
                "pageLength" : 10,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "pagingType": "simple"
            });

            $('#bids').DataTable({
                "paging": true,
                "pageLength" : 15,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "pagingType": "simple"
            });

            $('#asks').DataTable({
                "paging": true,
                "pageLength" : 15,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "pagingType": "simple"
            });

        } );
    </script>
{% endblock %}

{% block page_title %}
    Trading pair <i>{{ tradingPair.name }}</i> on <a href="{{ path('dr_market_show', {'market_id': tradingPair.market.id}) }}"><i>{{ tradingPair.market.name }}</i></a>
    {% if tradingPair.isActive %}
        <span class="label label-success">Active</span>
    {% else %}
        <span class="label label-default">Inactive</span>
    {% endif %}
{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        <section id="settings">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box box-default {% if tradingPair.isActive %}collapsed-box{% endif %}">
                    <div class="box-header with-border">
                        <h4 class="box-title">Settings</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-3-md">
                            {{ form(formTradingPair) }}
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </section>
    </div>

    {% if tradingPair.isActive %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section id="tradehistory">
                <h3>History</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">Trades</h4>
                            </div>
                            <div class="box-body no-padding">
                                {% if tradingPair.trades is not empty %}
                                    <table id="trades" class="table table-condensed table-striped table-hover">
                                        <thead>
                                            <th>Price</th>
                                            <th>Volume</th>
                                        </thead>
                                        <tbody>
                                        {% for trade in tradingPair.trades %}
                                            <tr>
                                                <td>{{ trade.price }} {{ tradingPair.assetFrom.displaySymbol }}</td>
                                                <td>{{ trade.volume }} {{ tradingPair.assetTo.displaySymbol }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>The trading history is empty for this trading pair. Did you enable the auto-refresh for this market?</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <section id="orberbook">
                <h3>Orderbook</h3>

                <div class="row">
                    {% if tradingPair.orderbooks is not empty %}
                    {# BOX BIDS #}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">Buying</h4>

                            </div>
                            <div class="box-body no-padding">
                                <table id="bids" class="table table-condensed table-striped table-hover">
                                    <thead>
                                        <th>Price</th>
                                        <th>Volume</th>
                                    </thead>
                                    <tbody>
                                        {% for order in tradingPair.orderbooks.last.bids %}
                                            <tr>
                                                <td>{{ order.price }} {{ tradingPair.assetFrom.displaySymbol }}</td>
                                                <td>{{ order.volume }} {{ tradingPair.assetTo.displaySymbol }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="dataTables_info" id="bids_info"></div>
                            </div>
                        </div>
                    </div>
                    {# END BOX BIDS#}
                    {# BOX ASKS #}
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="box">
                            <div class="box-header">
                                <h4 class="box-title">Selling</h4>
                                <div class="box-tools pull-right">

                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <table id="asks" class="table table-condensed table-striped table-hover">
                                    <thead>
                                        <th>Price</th>
                                        <th>Volume</th>
                                    </thead>
                                    <tbody>
                                        {% for order in tradingPair.orderbooks.last.asks %}
                                            <tr>
                                                <td>{{ order.price }} {{ tradingPair.assetFrom.displaySymbol }}</td>
                                                <td>{{ order.volume }} {{ tradingPair.assetTo.displaySymbol }}</td>
                                            </tr>
                                        {% endfor %}
                                            <div id="asks_info"></div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {# END BOX ASKS #}

                </div>
                {% else %}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box box-solid box-warning">
                            <div class="box-header">
                                <h4>Orderbook is empty</h4>
                            </div>
                            <div class="box-body">
                                <p>The orderbook for this trading pair is empty. Did you enable the auto-refresh for this market?</p>
                            </div>
                        </div>
                    </div>
                {% endif %}


            </section>
        </div>
    </div>

    <div class="row">
        <section id="statistics">
            <h3>Statistiques</h3>
        </section>
    </div>

    {% else %}
    <div class="row">
        <section id="info">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="box box-solid box-warning">
                    <div class="box-header">
                        <h4>This trading pair is currently disabled</h4>
                    </div>
                    <div class="box-body">
                        <p>Trade history and orderbook are unavailable while the trading pair is inactive.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endif %}
{% endblock %}
