{# Usage:
    {% include 'WebBundle:Block:box.html.twig' ignore missing with {
        'variants': 'box-primary',
        'collapsed': false,
        'title': 'Title',
        'tools': '<span></span>',
        'collapsible': true,
        'body': 'body content',
        'footer': 'footer content',
    } %}
#}
{% autoescape false %}
<div class="box {{ variants }}{% if collapsed|default(false) %} collapsed-box{% endif %}">
    <div class="box-header with-border">
        <h3 class="box-title">{{ title|default('define "title"') }}</h3>
        {% if collapsible is defined or tools is defined %}
            <div class="box-tools pull-right">
                {{ tools }}
                {% if collapsible or collapsed|default(false) %}
                    {% if collapsed|default(false) %}
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    {% else %}
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="box-body">
        {{ body|default('define "body"') }}
    </div>
    {% if footer is defined %}
    <div class="box-footer">
        {{ footer }}
    </div>
    {% endif %}
</div>
{% endautoescape %}
