{# DdxDrWebBundle:History:index.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}OHLC Breakdown{% endblock %}
{% block body %}
    <h2>OHLC Data</h2>
    <div class="row">
        <div style="height: 400px;" class="col-md-10" id="graphContainer">
            <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-md-2">
            <button data-target="ohlc-data" class="btn btn-inverse toogleControl">Tooggle data</button>
        </div>
    </div>
    <div class="row">
        <div class="toogleElement" id="ohlc-data" class="col-md-12">
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>VWAP</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in data %}
                        <tr>
                            <td>{{ line.period|format( format_datetime ) }}</td>
                            <td>{{ line.vwap }}</td>
                            <td>{{ line.open }}</td>
                            <td>{{ line.high }}</td>
                            <td>{{ line.low }}</td>
                            <td>{{ line.close }}</td>
                            <td>{{ line.volume }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
   <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}
